.card {
  width: auto;
  margin: 0.5em;
  padding: 0.5em;
  transition: box-shadow 0.3s ease;
  border-radius: 20px;
  position: relative;
}

.card:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.card .heartIcon {
  position: absolute;
  top: 2em;
  right: 2.5em;
  height: 1.5em;
  width: auto;
  z-index: 2;
  filter: drop-shadow(1px 1px 3px rgba(255, 255, 255, 1))
    var(--img-filter-invert);
  transition: filter 0.2s ease, width 0.2s ease, height 0.2s ease,
    transform 0.2s ease;
}

.cardImg {
  position: relative;
  width: 100%;
  padding-top: 150%;
  overflow: hidden;
  border-radius: 20px;
}

.cardImg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.heartIcon:hover {
  cursor: pointer;
  height: 1.7em;
  width: auto;
  filter: drop-shadow(1px 1px 3px rgba(255, 255, 255, 1))
    var(--img-filter-invert);
  transform: translate(7.5%, -7.5%);
  transition: filter 0.2s ease, width 0.2s ease, height 0.2s ease,
    transform 0.2s ease;
}

.cardInfo {
  margin-top: 1em;
}

.cardName {
  font-size: 1.15em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.cardTag {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardPrice {
  font-size: 1.15em;
  font-weight: 600;
}

.addCartButton {
  height: 1.5em;
}

.addCartButton img {
  width: auto;
  height: 1.5em;
  filter: drop-shadow(1px 1px 1px rgba(255, 255, 255, 1))
    var(--img-filter-invert);
  transition: filter 0.2s ease, width 0.2s ease, height 0.2s ease,
    transform 0.2s ease;
}

.addCartButton:hover img {
  width: auto;
  height: 1.7em;
  filter: drop-shadow(1px 1px 1px rgba(255, 255, 255, 1))
    var(--img-filter-invert);
  transform: translate(7.5%, -7.5%);
  transition: filter 0.2s ease, width 0.2s ease, height 0.2s ease,
    transform 0.2s ease;
}

@media screen and (max-width: 1600px) {
  .card .heartIcon {
    top: 1.5em;
    right: 1.5em;
  }
}

@media screen and (max-width: 768px) {
  .card .heartIcon {
    top: 1.5em;
    right: 1.5em;
  }
}
