.cartOrderNaviContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  height: 5em;
  margin: 2em 0;
}

.cartNavi,
.orderNavi {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  background-color: var(--darker2-bg-color);
  font-weight: 600;
  color: var(--darker-bg-color);
  transition: all 0.3s ease;
  cursor: default;
}
.cartNavi {
  border-radius: 20px 0 0 20px;
}
.orderNavi {
  border-radius: 0 20px 20px 0;
}

.isactive {
  background-color: var(--darker-bg-color-lit);
  color: var(--font-color);
}

.notActive:hover {
  background-color: var(--darker-bg-color);
  color: var(--font-color);
  transition: all 0.3s ease;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .cartOrderNaviContainer {
    border-radius: 0;
  }
  .cartNavi,
  .orderNavi {
    border-radius: 0;
    font-size: 1.5em !important;
  }
  .notActive:hover {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    background-color: #aaa;
    font-weight: 600;
    color: #999;
    transition: all 0.3s ease;
    cursor: default;
  }
}
