.categoryNavi {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 2em 0;
}

.categoryLink {
  margin: 0em 0.5em;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.categoryLink div {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  user-select: none;
  width: 100%;
  height: 100%;
  padding: 0em 1em;
  border-radius: 20px;
  white-space: nowrap;
}

.categoryLink:hover {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  background-color: var(--bg-color-invert);
  cursor: pointer;
}

.categoryLink:hover div {
  color: var(--font-color-invert);
}

.activeCategory div {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  background-color: var(--bg-color-invert);
  color: var(--font-color-invert);
}

@media screen and (max-width: 768px) {
  .categoryNavi {
    width: 100%;
    margin: 0.25em;
    padding: 0.25em;
    justify-content: space-between;
    touch-action: pan-x;
    overflow-x: scroll;
  }
  .categoryLink {
    margin: 1px;
    border-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.15em;
  }
  .categoryLink div {
    z-index: 1;
    border: 1px solid var(--darker2-bg-color);
    border-radius: 20px;
    padding: 0em 0.5em;
    margin: 0em 0.5em;
    box-shadow: none;
    color: var(--font-color) !important;
    background-color: var(--bg-color) !important;
  }

  .categoryLink.activeCategory div {
    z-index: 1;
    border: 1px solid var(--darker2-bg-color);
    border-radius: 20px;
    padding: 0em 0.5em;
    margin: 0em 0.5em;
    box-shadow: none;
    color: var(--font-color-invert) !important;
    background-color: var(--bg-color-invert) !important;
  }

  .categoryLink:hover {
    box-shadow: none;
    background-color: unset;
    cursor: default;
  }

  .activeCategory div {
    border-bottom: 1px solid var(--darker2-bg-color);
  }
}
