/* ------------------------------------------- CatagoryNavi()-------------------------------------- */
.categoryNavi {
  background-color: white;
  width: auto;
  display: flex;
  justify-content: space-around;
  margin: 2em 10em;
}

.categoryLink {
  margin: 0em 0.5em;

  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.categoryLink a {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  user-select: none;
  width: 100%;
  height: 100%;
  padding: 0em 1em;
  border-radius: 20px;
}

.categoryLink:hover {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  background-color: black;
  cursor: pointer;
}

.categoryLink:hover a {
  color: white;
}

.activeCategory,
.activeCategory a {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  background-color: black;
  color: white;
}
/* ------------------------------------------- CatagoryNavi()-------------------------------------- */
