.footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
  margin-top: 2em;
  padding-top: 2em;
  border-top: 1px solid #ddd;
  width: 100%;
}

.leftFooter {
  display: inline-flex;
  width: 100%;
  margin: 0 auto;
}

.rightFooter {
  display: inline-flex;
  margin-left: 3em;
  margin-bottom: 3em;
}

.naviLinkFooter {
  margin-bottom: 0.8em;

  margin-left: 1.25em;
  cursor: pointer;
  border-radius: 20px;
  padding: 0 0.5em;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
}

.naviLinkFooter:hover {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  color: white;
  background-color: black;
}

.naviLinkFooter.hFooter {
  margin: 0;
}
/* ------------------------------------------- firstColumnFooter()-------------------------------------- */
.firstColomnFooter {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.mainNaviFooter {
  margin-top: 1em;
}
/* ------------------------------------------- secondColumnFooter()-------------------------------------- */
.secondColomnFooter {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.hSecondColomnFooter {
  font-size: 1.3em;
  font-weight: bold;
}
.listProdNavi {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 1em;
}

/* ------------------------------------------- contactFooter()-------------------------------------- */
.contactFooter {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.socialList {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 2em;
}
.socialLink {
  margin-left: 1em;
}
.socialIcon {
  height: 3em;
}
.textContact {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  margin-right: 2em;
}
/* ------------------------------------------- helpButtonFooter()-------------------------------------- */

.helpButtonFooter {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.button {
  width: 100%;
  text-align: left;
  padding: 0.5em 1em;
  margin: 0.5em 0;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color: transparent;
  color: #333;
  border: 1px solid #333;
}

.button:hover {
  background-color: #333;
  color: #fff;
}

.changeLaguagedropup {
  position: relative;
  display: inline-block;
  width: 100%;
  margin: 0.5em 0;
}

.button-dropup {
  width: 100%;
  text-align: left;
  padding: 0.5em 1em;
  border-radius: 20px;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color: transparent;
  color: #333;
  border: 1px solid #333;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.triangleButton {
  margin-left: 0.5em;
  width: auto;
  height: 100%;
  border-left: 0.4em solid transparent;
  border-right: 0.4em solid transparent;
  border-bottom: 0.7em solid #333;
}

.dropup-content {
  display: block;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  background-color: #ffffff;
  width: 100%;
  box-shadow: 0px 0.5em 1em 0px rgba(0, 0, 0, 0.2);
  bottom: 0;
  transition: bottom 0.1s ease, opacity 0.1s ease, visibility 0.1s ease;
  overflow: hidden;
}

.dropup-content .dropupList {
  color: black;
  padding: 0.75em 1em;
  display: block;
}

.dropup-content .dropupList:hover {
  background-color: #ddd;
  cursor: pointer;
}

.changeLaguagedropup:hover .button-dropup {
  background-color: #333;
  color: #fff;
  border-radius: 0 0 20px 20px;
  transition: border-radius 0.3s ease;
}

.changeLaguagedropup:hover .button-dropup .triangleButton {
  border-bottom: 0.7em solid #fff;
}

.changeLaguagedropup:hover .dropup-content {
  visibility: visible;
  opacity: 100%;
  border-radius: 20px 20px 0 0;
  bottom: 1.9em;
  transition: bottom 0.1s ease, opacity 0.3s ease, visibility 0.1s ease;
}

/* #region MOBILE  */

.footer.moblie {
  flex-direction: column;
  align-items: center;
  padding-bottom: 2em;
}
.cateFooterToogle {
  width: 100%;
}
.cateFooterContainer {
  height: 0;
  transition: none;
  opacity: 0;
  transform: translate(0, -10%);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  transition: all 0.3s ease;
}
.cateFooterContainer.show {
  height: 14.83em;
  transition: all 0.3s ease;
  opacity: 1;
  transform: none;
}

.naviLinkFooterMobile,
.naviProdFooterMobile {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0.5em 0;
  font-size: 1.15em;
  border-top: 1px solid #ddd;
  letter-spacing: 0.1em;
}
.naviProdFooterMobile {
  visibility: hidden;
}

.naviProdFooterMobile.show {
  background-color: #ddd;
  visibility: visible;
}
.naviLinkFooterMobile.first {
  border-top: none;
}
.naviLinkFooterMobile.last {
  border-bottom: 1px solid #ddd;
}

@media screen and (max-width: 768px) {
  .contactFooter {
    width: 100%;
  }
  .socialList {
    display: flex;
    justify-content: space-between;
    margin: 2em auto;
    max-width: 100%;
    overflow: hidden;
  }
  .socialMediaBox {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
  .textContact {
    margin: 0;
    justify-content: center;
    align-items: center;
  }
  .socialIcon {
    height: 2em;
  }
}

/* #endregion */
