.header {
  width: auto;
  padding: 1em 3em 3em 3em;
  height: 3em;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  flex: 1;
}

.logo img {
  height: 2.5em;
  margin-right: 0.5em;
  filter: none !important;
}
.brandname {
  margin-right: 1em;
  font-size: 1.2em;
  font-weight: 900;
  white-space: nowrap;
}

.fixedHeader {
  background-color: var(--bg-color);
  color: var(--font-color);
  transition: all 0.3s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em auto;
  height: 3em;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 70%;
}

.white {
  background-color: var(--bg-color);
  transition: all 0.3s ease;
  width: 75%;
  margin-top: 0;
  border-radius: 0 0 20px 20px;
  height: 5em;
  z-index: 997;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.noShadow {
  background-color: var(--bg-color);
  transition: all 0.3s ease;
  position: absolute;
  width: 100%;
  height: 7em;
  z-index: 998;
  border-radius: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0);
}

.leftHeader {
  display: flex;
  justify-content: center;
}

.search {
  margin-right: 1.5em;
  width: auto;
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.navigation {
  display: flex;
  height: 1.5em;
}

.naviLink {
  direction: rtl;
  margin-left: 1.25em;
  cursor: pointer;
  border-radius: 20px;
  padding: 0 0.5em;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
}

.naviLink div {
  z-index: 1;
}

.naviLink:hover {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  color: var(--font-color-invert);
  background-color: var(--bg-color-invert);
}

.iconLink {
  margin-left: 1.25em;
  height: 1.5em;
  width: 1.5em;
  cursor: pointer;
  position: relative;
}

.iconBox {
  height: 1.6em;
  width: 1.6em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconLink img {
  filter: var(--img-filter-invert);
  height: 1.75em;
  width: 1.75em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
}

.countFavorite {
  color: var(--font-color-invert);
  font-weight: 700;
  position: absolute;
  height: 1.5em;
  width: 1.5em;
  font-size: smaller;
  display: flex;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.countItemsInCart {
  background-color: var(--warning-color);
  color: var(--absolute-white);
  font-weight: 500;
  position: absolute;
  height: 1.5em;
  width: 1.5em;
  font-size: smaller;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  top: -30%;
  right: -30%;
  z-index: 1;
}

.iconBox:hover {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.2);
}

.iconBox:hover img.haveProfile {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.1);
}

.userProfile {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.haveProfile img {
  border: 1px solid var(--darker-bg-color);
  filter: invert(0) !important;
}
/* #region Tablet Res.  */

.fixedHeader.tablet {
  background-color: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em auto;
  height: 3em;
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 90%;
}

/* #endregion */

/* #region Mobile */

.header.mobile {
  padding: 1em;
  height: auto;
  display: flex;
  flex-direction: column;
}

.headerStatic {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.iconLink.moblie {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
}

.iconBox.mobile {
  box-shadow: none;
  transform: none;
  position: relative;
  height: 2em;
  width: 2em;
  top: 0;
  left: 0;
  border-radius: 0;
}

.iconBox.mobile img {
  box-shadow: none;
  height: 2em;
  width: 2em;
}

.iconBox.mobile.haveProfile {
  border-radius: 50%;
}
.iconBox.mobile.hamburgerIcon {
  margin-left: 1em;
}
.hambergurToggle {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  align-self: flex-end;
  overflow: hidden;
  transition: all 0.3s ease;
}
.hambergurToggle.hide {
  height: 0em !important;
  opacity: 0;
  border: none;
}

.naviLink.hambergur {
  padding: 1em 1em;
  margin: 0;
  flex: 1;
  border-radius: 20px;
  flex-direction: row-reverse;
  font-size: 16px;
}
.naviLink.hambergur div {
  white-space: nowrap;
  user-select: none;
}
.naviLink.hambergur img {
  filter: var(--img-filter-invert);
}
.naviLink.hambergur.logout {
  background-color: var(--warning-color) !important;
  color: var(--absolute-white) !important;
  border-bottom: none;
  padding: 0.25em 1em;
}

.naviLink.hambergur.login {
  padding: 0.25em 1em;
  border-bottom: none;
  background-color: var(--bg-color-invert) !important;
  color: var(--font-color-invert) !important;
}
.naviLink.hambergur:hover {
  box-shadow: none;
  color: var(--font-color);
  background-color: var(--bg-color);
}
.countItemsInCartMobile {
  background-color: var(--warning-color);
  color: var(--absolute-white);
  font-weight: 500;
  position: relative;
  height: 1.5em;
  width: 1.5em;
  font-size: smaller;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  z-index: 1;
  margin-right: 0.5em;
}
.iconBoxMobile {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1em;
}
.iconBoxMobile img {
  position: absolute;
  height: 1.5em;
  width: 1.5em;
}
.countFavoriteMobile {
  color: var(--font-color-invert);
  font-size: 14px;
}
.naviLink.hambergur.user {
  padding: 0.25em 0.25em 0.25em 1em;
  flex: 0;
  transform: translateX(30%);
  opacity: 0;
}
.naviLink.hambergur.user.show {
  transform: translateX(0);
  opacity: 1;
}
.hambergurToggleContainer {
  opacity: 1;
  height: 10em;
  transform: translateY(0);
  transition: all 0.3s ease;
}
.hambergurToggleContainer.hide {
  height: 0 !important;
  opacity: 0;
}
/* #endregion */
