.reviewingBox {
  flex: 1;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-around;
  padding: 1em 2em;
  background-color: var(--bg-color);
  border: 1px solid var(--font-color-disabled);
}

.reviewingBox.empty {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--font-color-disabled);
}

.reviewingHeadLine {
  display: flex;
  padding: 1em 0;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.reviewingHeadLinePhotoCol {
  min-width: 5em;
  min-height: 5em;
  max-width: 5em;
  max-height: 5em;
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid var(--font-color-disabled);
  position: relative;
}

.reviewingHeadLinePhotoCol img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
}

.reviewingHeadLineNameCol {
  flex: 1;
  padding: 0 1em;
}

.starInputLine {
  display: flex;
  flex-direction: row;
}

.starInputLine .star {
  --image-height: 1.5em;
}

.bodyInputLine {
  width: 100%;
  display: flex;
  height: 100%;
  margin-bottom: 1em;
}
.reviewTextArea {
  resize: none;
  border-radius: 20px;
  padding: 1em;
  border: 1px solid var(--font-color-disabled);
  background-color: var(--bg-color);
  color: var(--font-color);
  flex: 1;
}
.buttonLine {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 2em;
  margin-bottom: 1em;
}

.letNavigate:hover,
.letNavigate:hover ~ .reviewingHeadLineNameCol {
  text-decoration: underline;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .reviewingHeadLine {
    display: grid;
    grid-template-columns: auto 1fr;
    margin-top: 1em;
    padding: 0;
  }
  .starInputLine {
    grid-column: span 2;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 1em 0;
  }
  .starInputLine .star {
    --image-height: 3em;
  }
  .buttonLine {
    width: auto;
  }
  .buttonLine button {
    padding: 0.25em 0.5em;
    height: 3em;
  }
}
