.cartPage {
  width: 100%;
  display: inline-flex;
}

.cartSumContainer {
  width: 40%;
  height: 100%;
}

.cartSumBox {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em;
  margin: auto;
}

.cartSumLine {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #eee;
  border-radius: 20px;
}

.cartSumLine .emptyBox {
  height: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 900;
  font-size: 1.25em;
  margin: 1em 0;
}
.emptyBox div {
  color: #777;
}

.cartSumHeadLine {
  align-self: flex-start;
  margin: 1em 0 0.125em 0;
  padding-left: 0.5em;
}

.cartSumBodyLine {
  padding-top: 0.5em;
  border-top: #111 solid 1px;
  display: flex;
  flex-direction: column;
}

.cartSumBodyLine .cartDetailLine {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 1em 0.5em 1em;
  color: #777;
}

.cartSumNetTotalLine {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-radius: 20px;
  background-color: #ccc;
  font-size: 1.125em;
  font-weight: 500;
  width: 100%;
  padding: 0.5em 0;
  align-self: center;
}
.cartSumCheckOutLine {
  align-self: center;
  background-color: rgb(16, 175, 96);
  font-size: 1.125em;
  font-weight: 500;
  width: 100%;
  color: white;
  border-radius: 20px;
  display: flex;
  padding: 0.5em 0;
  margin-top: 0.5em;
  justify-content: center;
}

.cartListContainer {
  width: 60%;
}

.cartContentContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.cartContentContainer > :nth-child(2n) {
  background-color: #f2f2f2;
}

.cartListHeadLine {
  height: 2em;
  width: 100%;
  display: grid;
  grid-template-columns: auto repeat(3, 6em) 2em;
  align-items: end;
  margin-bottom: 1em;
  padding: 0.1em 0;
  border-bottom: #777777 1px solid;
  color: #777777;
}

.cartListHeadLine div {
  justify-self: center;
}

.cartListHeadLine div:first-child {
  justify-self: flex-start;
  margin-left: 1em;
}

.productLine {
  width: 100%;
  display: grid;
  grid-template-columns: auto repeat(3, 6em) 2em;
  align-items: center;
  margin: 0.4em 0;
  padding: 0.6em 0;
  /* background-color: #888; */
  border-radius: 20px;
}

.productCol {
  display: flex;
  flex-direction: row;
  padding-left: 1em;
  align-items: center;
}

.productCol .productPhotoBox {
  position: relative;
  height: 3em;
  width: 3em;
  overflow: hidden;
  margin: 0 1em;
  border-radius: 4px;
}
.productCol .productPhotoBox img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.productCol .nameOptionBox {
  display: flex;
  flex-direction: column;
}
.productCol .nameOptionBox .optionBox {
  display: flex;
  flex-direction: row;
}
.productName {
  font-weight: 500;
  font-size: 1.11em;
}
.option {
  height: 100%;
  padding: 0 0.5em;
  margin-right: 0.25em;
  border-radius: 20px;
  border: 1px #777777 solid;
}

.option.needOption {
  background-color: white;
}

.priceCol {
  justify-self: center;
}

.quantityCol {
  justify-self: center;
}

.totalCol {
  justify-self: center;
}

.productPhotoBox:hover,
.productName:hover {
  cursor: pointer;
  text-decoration: underline;
}

.productPhotoBox:hover + .nameOptionBox .productName {
  text-decoration: underline;
}
