.cart {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cartPage {
  width: 100%;
  display: inline-flex;
  margin-bottom: 1em;
}
.cartOrederContainer {
  width: 100%;
  min-height: 50vh;
  border-bottom: 1px solid var(--font-color-disabled);
}

.cartSumContainer {
  width: 40%;
  height: 100%;
}

.cartSumBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  align-items: center;
}

.cartSumLine {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cartSumLine .emptyBox {
  height: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 900;
  font-size: 1.25em;
  margin: 1em 0;
}
.emptyBox div {
  color: var(--darker-bg-color);
}

.cartSumHeadLine {
  align-self: flex-start;
  height: 2em;
  padding-left: 0.5em;
}

.cartSumBodyLine {
  padding-top: 0.5em;
  border-top: var(--font-color) solid 1px;
  display: flex;
  flex-direction: column;
}

.cartSumBodyLine .cartDetailLine {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 1em 0.5em 1em;
  color: var(--font-color);
}

.cartSumNetTotalLine {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-radius: 20px;
  background-color: var(--darker-bg-color-lit);
  font-size: 1.125em;
  font-weight: 500;
  width: 80%;
  padding: 0.5em 0;
  align-self: center;
}

.cartSumCheckOutLine {
  align-self: center;
  font-size: 1.125em;
  font-weight: 500;
  width: 60%;
  border-radius: 20px;
  display: flex;
  padding: 0.5em 0;
  margin-top: 1em;
  justify-content: center;
  transition: all 0.3s ease;
  user-select: none;
}

.cartSumCheckOutLine.removeCart {
  width: auto;
  font-size: 1em;
  padding: 0.5em 1em;
  align-self: flex-end;
}

.cartListContainer {
  min-width: 60%;
}

.cartListBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cartContentContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.cartListHeadLine {
  height: 2em;
  width: 100%;
  display: grid;
  grid-template-columns: auto repeat(3, 6em) 2em;
  align-items: end;
  margin-bottom: 1em;
  border-bottom: var(--font-color) 1px solid;
  color: var(--font-color);
}

.cartListHeadLine div {
  justify-self: center;
}

.cartListHeadLine div:first-child {
  justify-self: flex-start;
  margin-left: 1em;
}

.productLine {
  width: 100%;
  display: grid;
  grid-template-columns: auto repeat(3, 6em) 2em;
  align-items: center;
  margin: 0.4em 0;
  padding: 0.6em 0;
  position: relative;
  border-radius: 20px;
}

.productLine.odd {
  background-color: var(--darker-bg-color-lit);
}

.productCol {
  display: flex;
  flex-direction: row;
  padding-left: 1em;
  align-items: center;
  overflow: hidden;
}

.productCol .productPhotoBox {
  position: relative;
  min-height: 3em;
  min-width: 3em;
  max-height: 3em;
  max-width: 3em;
  overflow: hidden;
  margin: 0 1em;
  border-radius: 4px;
}
.productCol .productPhotoBox img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.productCol .nameOptionBox {
  display: flex;
  flex-direction: column;
}
.productCol .nameOptionBox .optionBox {
  display: flex;
  flex-direction: row;
}

.productName {
  font-weight: 500;
  font-size: 1em;
  white-space: nowrap;
}
.option {
  height: 100%;
  padding: 0 0.5em;
  margin-right: 0.25em;
  border-radius: 20px;
  border: 1px var(--font-color-disabled) solid;
  cursor: pointer;
  transition: all 0.3s ease;
}

.option:hover {
  transform: scale(1.15);
}

.option.needOption {
  border: 1px var(--warning-color-font) solid;
  position: relative;
  margin-right: 0.5em;
}

.option:hover.notLetModify {
  transform: none;
  cursor: default;
}

.NEED {
  top: 0;
  left: 110%;
  position: absolute;
  color: var(--warning-color-font);
  white-space: nowrap;
}

.priceCol {
  justify-self: center;
}

.quantityCol {
  justify-self: center;
}

.totalCol {
  justify-self: center;
}

.productPhotoBox:hover,
.productName:hover {
  cursor: pointer;
  text-decoration: underline;
}

.productPhotoBox.modifyOption,
.productName.modifyOption {
  cursor: default;
  text-decoration: none !important;
}

.productPhotoBox:hover + .nameOptionBox .productName {
  text-decoration: underline;
}

.inReview {
  cursor: default !important;
  text-decoration: none !important;
  border: none !important;
}

.modifyOptionBox {
  padding: 2em;
  position: absolute;
  width: 30%;
  min-height: 35%;
  border-radius: 20px;
  left: 50%;
  top: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transform: translate(-50%, -50%);
  background-color: var(--bg-color);
}

.productCol.modifyOption {
  margin: 0 0 1em 0;
  padding: 0;
  height: 5em;
}
.productPhotoBox.modifyOption {
  min-height: 5em;
  min-width: 5em;
  max-height: 5em;
  max-width: 5em;
  margin: 0 1em 0 0;
  border-radius: 20px;
}

.deleteCol {
  position: relative;
  margin: 0.25em;

  transition: transform 0.1s ease;
}
.deleteCol div {
  border: 1px solid var(--bg-color-invert);
  border-radius: 50%;
  height: 1.5em;
  width: 1.5em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  transition: all 0.3s ease;
  user-select: none;
}

.deleteCol:hover div {
  background-color: rgb(224, 57, 57);
  color: white;
  transform: translate(-50%, -50%) scale(1.2);
  cursor: pointer;
  border: none;
  box-shadow: 0 0 3px rgba(223, 43, 43, 0.76);
}

.copyThisProduct {
  position: absolute;
}
.copyThisProduct div {
  border: 1px solid var(--bg-color-invert);
  border-radius: 50%;
  height: 1.5em;
  width: 1.5em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  transition: all 0.3s ease;
  font-size: 1em;
}

.copyThisProduct:hover div {
  background-color: rgb(16, 175, 96);
  color: white;
  transform: translate(-50%, -50%) scale(1.2);
  cursor: pointer;
  border: none;
  box-shadow: 0 0 3px rgba(16, 175, 96, 0.76);
}

.reviewCheckContainer {
  background-color: var(--bg-color);
  border-radius: 20px;
  position: fixed;
  width: 70%;
  height: 95%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.reviewCheckBox {
  position: fixed;
  width: 80%;
  height: 90%;
  z-index: 1002;
  left: 50%;
  top: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transform: translate(-50%, -50%);
}

.reviewProductList {
  height: 60%;
  background-color: var(--darker-bg-color-lit);
  overflow: auto;
  width: 100%;
  margin-bottom: 1em;
}

.reviewProductListContent {
  height: auto;
  padding-top: 1em;
  padding-bottom: 1em;
}

.reviewProductListContent::-webkit-scrollbar {
  width: 10px;
}

.reviewProductListContent::-webkit-scrollbar-track {
  border-radius: 20px;
}

.reviewProductListContent::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}
.reviewProductListContent:hover::-webkit-scrollbar-track {
  background-color: #f2f2f2;
}

.reviewProductListContent:hover::-webkit-scrollbar-thumb {
  background-color: #555;
}

.reviewProductHeadLine {
  height: 2em;
  width: 100%;
  display: grid;
  grid-template-columns: auto repeat(3, 6em);
  align-items: end;
  color: var(--font-color-disabled);
}

.reviewProductHeadLine > div:nth-child(n + 2) {
  justify-self: center;
}

.reviewProductRow {
  width: 100%;
  display: grid;
  grid-template-columns: auto repeat(3, 6em);
  align-items: center;
  margin: 0.4em 0;
  padding: 0.6em 0;
  position: relative;
  border-radius: 20px;
}
.reviewSummary {
  width: 100%;
  height: 40%;
}

.reviewSummaryLine {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 1em;
}

.reviewSummaryPersonalContainer {
  display: flex;
  flex-direction: column;
}

.reviewSummaryPersonalContainer {
  width: 60%;
}

.reviewSummaryPersonalBox {
  flex: 1;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  margin: 0 0.5em;
  padding: 0 0.5em;
}
.reviewNamePhoneBox {
  display: flex;
  flex-direction: row;
  height: 25%;
  width: 100%;
}
.reviewAddressBox {
  height: 75%;
}

.reviewHead {
  margin: 0 0 0.25em 0;
  font-size: 1em;
  color: var(--font-color);
}

.reviewNameBox,
.reviewPhoneBox {
  width: 50%;
}

.reviewCheckinput {
  height: 1.5em;
  border-radius: 20px;
  padding: 0.5em;
  background-color: var(--bg-color);
  border: 1px var(--font-color) solid;
  color: var(--font-color);
  outline: none;
  width: 80%;
  transition: all 0.3s ease;
}

.reviewAddressInputContainer {
  border: 1px var(--font-color) solid;
  overflow: hidden;
  border-radius: 20px;
  transition: all 0.3s ease;
  padding: 0.5em;
  height: 70%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.labelInput {
  width: 100%;
  min-width: 50%;
  display: flex;
  padding-right: 0.25em;
  justify-content: space-around;
}

.labelInput label {
  width: 20%;
  display: flex;
  justify-content: flex-end;
  color: #aaa;
  font-size: 1em;
}

.reviewCheckinput.reviewaddress {
  padding: 0.25em 0.25em;
  width: 70%;
  border: none;
  box-shadow: none;
  background-image: linear-gradient(to right, #aaa, #aaa 50%, transparent 50%);
  background-size: 100% 1px;
  background-position: bottom;
  background-repeat: no-repeat;
  border-radius: 0;
}

.reviewAddressInputContainer:focus-within {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}
.reviewProductListContent > :nth-child(2n) {
  background-color: var(--bg-color);
  border-radius: 0;
}

.cartSumBox.reviewCheckSection {
  width: 30%;
}

.cartSumLine.reviewCheckSection {
  width: 100%;
}

.cartSumNetTotalLine.reviewCheckSection {
  width: 100%;
}

.cartSumCheckOutLine.reviewCheckSection {
  width: 100%;
}

.reviewOut {
  position: fixed;
  top: 2%;
  right: 2%;
  margin: 0.25em;
  height: 2em;
  width: 2em;
  transition: transform 0.1s ease;
  z-index: 2000;
}
.reviewOut div {
  border: 1px solid var(--bg-color-invert);
  border-radius: 50%;
  height: 2em;
  width: 2em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  transition: all 0.3s ease;
  user-select: none;
}

.reviewOut:hover div {
  background-color: rgb(224, 57, 57);
  color: white;
  transform: translate(-50%, -50%) scale(1.2);
  cursor: pointer;
  border: none;
  box-shadow: 0 0 3px rgba(223, 43, 43, 0.76);
}

.SubmitLine {
  margin-top: 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.optionsLine.modifyOption {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
  margin-bottom: 0.5em;
  overflow: auto;
}

.emptyCart {
  background-color: var(--darker-bg-color-lit);
  color: var(--font-color-disabled);
  height: 20vh;
  width: 100%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart .cartOrderContainerMobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 75vh;
  padding-bottom: 5em;
  border-bottom: 1px solid var(--font-color-disabled);
}
.cart .recContainter {
  width: 100%;
}

@media screen and (max-width: 1280px) {
  .cartListContainer {
    min-width: 100%;
    font-size: 14px;
    flex: 1;
  }
  .productCol {
    padding-left: 1.5em;
  }
  .reviewProductRow .productCol {
    padding-left: 0;
  }
  .productName {
    font-size: 1em;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: default !important;
    text-decoration: none !important;
  }
  .productLine {
    height: 6em;
    margin: 0;
    padding: 0;
    grid-template-columns: auto 7em 3em;
    border-radius: 0;
  }
  .cartListHeadLine {
    grid-template-columns: auto 7em 3em;
  }
  .copyThisProduct {
    left: 1.25em;
  }
  .totalCol {
    display: flex;
    justify-content: center;
  }
  .quantityCol {
    display: flex;
    justify-content: center;
  }
  .quantityCol .plusMinusButton {
    margin: 0 0 1em 0;
    transform: scale(1.25);
  }
  .option:hover {
    transform: unset;
  }
  .deleteCol:hover div {
    background-color: unset;
    color: unset;
    transform: translate(-50%, -50%);
    cursor: unset;
    border: 1px solid black;
    box-shadow: unset;
  }
  .copyThisProduct {
    user-select: none;
  }
  .copyThisProduct:hover div {
    background-color: unset;
    color: unset;
    transform: translate(-50%, -50%);
    cursor: unset;
    border: 1px solid black;
    box-shadow: unset;
  }

  .plusMinusButton .minus:hover,
  .plusMinusButton .plus:hover {
    background-color: unset;
    cursor: default;
  }
  .plusMinusButton .minus:hover div,
  .plusMinusButton .plus:hover div {
    color: unset;
    cursor: default;
  }

  .plusMinusButton:hover {
    box-shadow: unset;
    cursor: default;
  }
  .cartSumCheckOutLine.removeCart {
    width: auto;
    font-size: 1em;
    padding: 0.5em 1em;
    align-self: center;
    cursor: default;
    margin-bottom: 1em;
    box-shadow: none;
  }
  .cartSumContainer {
    width: 100%;
  }
  .cartSumBox {
    width: auto;
    padding: 0;
  }
  .cartSumLine {
    width: 100%;
  }
  .cartSumNetTotalLine {
    width: 100%;
    border-radius: 20px;
  }
  .cartSumCheckOutLine {
    align-self: center;
    font-size: 1.125em;
    font-weight: 500;
    width: 30%;
    color: white;
    border-radius: 20px;
    display: flex;
    padding: 0.5em 0;
    margin-top: 1em;
    justify-content: center;
    transition: all 0.3s ease;
    user-select: none;
  }
  .cartSumHeadLine {
    align-self: center;
    padding: 0;
  }
  .cartSumCheckOutLine.checkOut:hover {
    width: 50%;
    cursor: pointer;
    transform: unset;
  }
  .emptyCart {
    border-radius: 20px;
    margin-bottom: 1em;
  }
  .modifyOptionBox {
    width: auto;
  }

  .reviewCheckBox {
    font-size: 14px;
    height: 95%;
    justify-content: flex-end;
  }
  .reviewProductHeadLine {
    grid-template-columns: auto 3em 5em;
  }
  .reviewProductHeadLine div {
    font-size: 10px;
  }
  .reviewProductHeadLine div:first-child {
    margin-left: 1em;
  }
  .reviewProductRow {
    grid-template-columns: auto 3em 5em;
  }
  .productName.inReviewP {
    white-space: normal;
  }
  .cartSumBox.reviewCheckSection {
    margin: 0;
    flex: 1;
    width: 100%;
    margin-bottom: 1em;
  }
  .cartSumCheckOutLine.checkOut.reviewCheckSection {
    width: 40% !important;
  }
  .cartSumCheckOutLine.checkOut.reviewCheckSection:hover {
    transform: unset;
  }
  .cartSumLine.reviewCheckSection .cartSumHeadLine {
    margin: 1em 0;
    padding: 0;
    align-self: center;
  }
  .reviewCheckinput {
    border-radius: 5px;
  }
  .reviewAddressInputContainer {
    border-radius: 5px;
  }
  .reviewSummaryPersonalContainer {
    width: 100%;
  }
  .reviewNamePhoneBox {
    margin-bottom: 1em;
  }
  .reviewNamePhoneBox div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .reviewAddressBox {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .reviewAddressInputContainer {
    flex: 1;
  }
  .reviewHead {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
  }
  .buttonLineReviewCheckMobile {
    display: flex;
    justify-content: space-evenly;
  }
  .cart .recContainter {
    width: 80%;
  }
}
@media screen and (max-width: 768px) {
  .reviewCheckContainer {
    width: 100%;
  }
  .reviewCheckBox {
    width: 100%;
  }
  .cartSumCheckOutLine {
    width: 50%;
  }
  .cartSumNetTotalLine {
    border-radius: 0;
  }
  .emptyCart {
    border-radius: 0;
  }
  .cart .recContainter {
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .cartListBox {
    font-size: 12px;
  }
}

.checkOutIcon {
  margin-right: 0.5em;
}
