.favoritePageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.favoriteHeader {
  display: flex;
  width: 80%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.removeAllButton {
  font-weight: 500;
  border-radius: 20px;
  display: flex;
  transition: all 0.3s ease;
  width: auto;
  font-size: 1em;
  padding: 0.5em 1em;
  white-space: nowrap;
}

.emptyFavorite {
  background-color: var(--darker-bg-color-lit);
  color: var(--font-color-disabled);
  height: 20vh;
  width: 60vw;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainContent.favoritePage {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

@media screen and (max-width: 768px) {
  .favoriteHeader {
    width: 100%;
    justify-content: space-around;
  }
  .favoriteHeader h1 {
    font-size: 16px;
  }
  .mainContent.favoritePage {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
