.HomeContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* #region coverContent*/
.cover-container {
  width: 100%;
  padding-bottom: 56.25%;
  position: relative;
  margin: 2em;
}

.cover-img-container {
  overflow: hidden;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  border-radius: 20px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease;
}

.cover-img-container:hover {
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.3);
}

.img-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
  z-index: 1;
  opacity: 0;
}

.img-cover.onTop {
  transition: all 0.3s ease;
  z-index: 2;
  opacity: 1;
}
.img-cover.previous {
  transition: all 0.3s ease;
  opacity: 1;
  z-index: 1;
}

.centerPoint {
  position: absolute;
  z-index: 5;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
}

.circle {
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: var(--darker2-bg-color);
  margin: 0 0.5em 1em 0.5em;
  transition: background-color 0.1s ease;
  cursor: pointer;
}

.circle-choosing {
  background-color: var(--absolute-white);
  cursor: default;
}
/* #endregion coverContent*/

@media screen and (max-width: 768px) {
  .cover-img-container {
    border-radius: 0;
    box-shadow: none;
  }
  .circle {
    width: 0.5em;
    height: 0.5em;
  }
}

.imgCoverContainer {
  height: 100%;
}
