.loginLink {
  text-decoration: underline;
  cursor: pointer;
  white-space: nowrap;
}

.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.width60 {
  width: 60%;
  margin: auto;
}

.emailpassLine {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.inputEmail,
.inputPassword {
  height: 2em;
  margin-bottom: 1em;
  border-radius: 20px;
  padding: 0.5em 1.5em;
  border: none;
  background-color: var(--darker-bg-color-lit);
  color: var(--font-color);
  outline: none;
  transition: all 0.3s ease;
}

.inputEmail:hover,
.inputPassword:hover,
.inputEmail:focus,
.inputPassword:focus {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
  background-color: var(--bg-colo);
  transform: scale(1.05);
}

.inputEmail:focus-visible,
.inputPassword:focus-visible {
  background-color: var(--bg-colo);
  outline: solid 1px var(--darker2-bg-colo);
}

.forgetPassLine {
  width: 70%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1em;
}
.submitLogin {
  margin-bottom: 1em;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.registerLinkLine {
  margin-bottom: 1em;
}

.warningMessage-login {
  color: var(--warning-color-font);
  font-size: 1em;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1em;
  opacity: 1;
}
.warningMessage-login.hide {
  opacity: 0;
}

@media screen and (max-width: 768px) {
  .width60 {
    width: 100%;
    height: 50vh;
    margin: auto;
  }
}
