.orderPage {
  display: inline-flex;
  width: 100%;
}
.orderListContainer {
  width: 40%;
  display: flex;
  flex-direction: column;
  margin: 0.5em 1em 0.5em auto;
  padding: 1em;
  background-color: #e0e0e0;
  border-radius: 20px;
}

.orderListContainer div {
  font-size: 90%;
}

.orderList {
  width: 90%;
  display: flex;
  flex-direction: row;
  margin: 0.5em auto;
  padding: 0.5em 1em;
  border-radius: 20px;
  background-color: white;
  overflow: hidden;
}

.orderList .dateHCol {
  display: flex;
  flex-direction: row;
  width: 50%;
}

.dateHCol div {
  margin-right: 1em;
}

.statusHCol {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 50%;
}

.statusHCol div {
  margin-left: 1em;
  width: auto;
  justify-content: center;
}

.statusHHead {
  width: 4em;
  margin: 0;
}

.orderDetailContainer {
  width: 60%;
  display: flex;
  flex-direction: column;
  margin: 0.5em auto 0.5em 1em;
  padding: 1em;
  background-color: #f5f5f5;
  border-radius: 20px;
}
.orderDetailBox {
  width: 100%;
}

.orderHeadLine {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.orderHeadLine h1 {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  font-size: 1.5em;
}

.orderDetail {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.orderDetail h2 {
  margin: 0 0.5em 0 0;
  font-size: 1em;
  color: #555;
}

.orderIDCol,
.dateCol,
.statusCol {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.orderIDValue,
.dateValue,
.statusValue {
  padding: 0.25em 0.5em;
  background-color: white;
  border-radius: 20px;
}

.orderTimeLine {
  padding: 0.5em 0 1em 0;
  margin: 0.5em 0 1em 0;
}

.gridTimeLine {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(7, auto);
  font-size: 0.9em;
  grid-template-rows: auto 1em;
}
.col1,
.col2,
.col3,
.col4,
.col5,
.col6 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.col1 > div,
.col2 > div,
.col3 > div,
.col4 > div,
.col5 > div,
.col6 > div {
  align-self: center;
}

.col5 {
  grid-column: 5 / span 2;
}

.col6 {
  grid-column: 7;
}
.copyIcon {
  width: 1em;
  height: 1em;
}

.circleRow {
  height: 100%;
  width: 100%;
  position: relative;
}
.lineBefore {
  content: '';
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(0, -50%);
  width: 50%;
  height: 0.5em;
  background-color: #e0e0e0;
  z-index: 1;
}
.lineAfter {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(0, -50%);
  width: 50%;
  height: 0.5em;
  background-color: #e0e0e0;
  z-index: 1;
}
.circleTimeLine {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background-color: #e0e0e0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  position: absolute;
  z-index: 2;
  transition: all 0.3s ease;
}

.currentStage {
  background-color: rgb(16, 175, 96);
  transition: all 0.3s ease;
}
.nameTimeLine {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}

.addressOrderSumLine {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 1em;
}

.addressContainer,
.orderSumContainer {
  display: flex;
  flex-direction: column;
}

.addressContainer {
  width: 40%;
}

.orderSumContainer {
  width: 60%;
}

.addressBox,
.orderSumBox {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0.25em;
  border-radius: 20px;
  padding: 0.9em;
}

.orderSumBox {
  background-color: white;
}

.addressBox p {
  font-size: 0.9em;
  margin: 0;
}

.orderSumLine {
  margin: auto;
  width: 100%;
  font-size: 0.9em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.netLine {
  width: 80%;
  padding-top: 0.5em;
  margin-top: 0.5em;
  border-top: 1px black solid;
  font-size: 1.25em;
  font-weight: bold;
  color: #555;
}
.addressHead,
.orderSumHead,
.thisOrderHead {
  margin: 0;
  font-size: 1em;
  color: #555;
}

.thisOrderBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0.25em;
  border-radius: 20px;
  padding: 0.9em;
  font-size: 90%;
}
