.productDetailPage {
  display: flex;
  justify-content: center;
}
.contentContainer {
  display: flex;
  justify-content: center;
  width: 75vw;
  position: relative;
  justify-self: center;
}

/*#region detailSection*/
.detailSection {
  flex: 1;
  width: 75%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.photoLine {
  display: inline-flex;
  overflow: hidden;
  border-radius: 20px;
  position: relative;
  user-select: none;
}
.photoFilter {
  height: 100%;
  backdrop-filter: blur(10px);
  opacity: 100%;
  position: absolute;
  z-index: 2;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.photoFilter:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.photoContainers {
  transition: all 0.3s ease;
}
.photoBoxes {
  display: flex;
  flex-direction: row;
}
.photoBox {
  position: relative;
}
.photoBox img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 1;
}
.photoBox:last-child img {
  border-radius: 0 20px 20px 0;
}
.photoLine .leftCorner {
  z-index: 3;
}

.photoLine .rightCorner {
  z-index: 3;
  right: auto;
  left: 800px;
  transform: translate(-100%, -50%);
}

.thumPhotoLine {
  height: 6em;
  width: 100%;
  margin: 1em 0;
  overflow: hidden;
  position: relative;
  border-radius: 20px;
  padding: 1em 0;
  user-select: none;
}

.thumPhotoBoxes {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: auto;
  position: absolute;
  left: 30%;
  transition: all 0.5s ease-in-out;
  height: 6em;
}

.thumPhotoBox {
  height: 6em;
  width: 6em;
  position: relative;
  overflow: hidden;
  margin: 0 1em;
  border-radius: 20px;
  opacity: 0.5;
  transition: all 0.3s ease;
  cursor: pointer;
}

.isShow {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7);
  opacity: 1;
  cursor: default;
}

.thumPhotoBox:hover {
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
}

.thumPhotoBox img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.headSection {
  font-size: 1.5em;
  color: var(--font-color);
  display: flex;
  align-items: center;
}

.fullDetailLine {
  font-weight: 300;
}

/*#region reviewSection*/
.reviewLine {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.reviewContainers {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  height: auto;
  position: relative;
  transition: all 0.3s ease;
}

.reviewContainers.isOne {
  display: grid;
  grid-template-rows: 1fr;
}

.reviewContainers > div:nth-child(odd) {
  grid-row: 1;
}

.reviewContainers > div:nth-child(even) {
  grid-row: 2;
}
.reviewsBox {
  width: 18em;
  margin: 1em;
  padding: 1em;
  border-radius: 20px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.reviewsCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.reviewsCard .reviewsCardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
  border-bottom: 1px #f1f1f1 solid;
}
.reviewsCard .reviewsCardHeader .userImg {
  /* Styles for the userImg div inside .reviewsCard */
  /* Add your desired styles here */
  height: 40px;
  width: 40px;
  overflow: hidden;
  border-radius: 20px;
  margin-right: 1em;
}
.reviewsCard .reviewsCardHeader .userImg img {
  height: 40px;
  width: 40px;
  object-fit: cover;
}
.reviewsCard .reviewsCardHeader .userNameRank {
  margin-right: auto;
}
.reviewsCard .reviewsCardHeader .userNameRank .userName {
  font-size: 1.25em;
  font-style: italic;
}

.reviewsCard .reviewsCardHeader .userNameRank .userRank {
  font-size: 0.8em;
  font-weight: 300;
  color: #555;
}

.reviewsCard .reviewsCardHeader .reviewsRate {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-self: flex-end;
}
.reviewsRate img {
  width: auto;
  height: 1.5em;
  margin-right: 0.5em;
  filter: var(--img-filter-invert);
}

.reviewsCard .reviewsDetails {
  height: auto;
  font-weight: 300;
  padding: 1em;
  margin-bottom: auto;
}

.reviewsCard .postDate {
  display: flex;
  justify-content: flex-end;
  color: #999;
}

.reviewLine .leftCorner,
.reviewLine .rightCorner {
  height: 100%;
  z-index: 2;
  background: none;
}

.reviewLine .leftCorner .arrow-left {
  border-right: 3em solid rgb(0 0 0 / 30%);
}

.reviewLine .rightCorner .arrow-right {
  border-left: 3em solid rgb(0 0 0 / 30%);
}
.reviewsSection {
  position: relative;
}
.fadeLeft {
  background-image: linear-gradient(
    to left,
    var(--bg-color-op0),
    var(--bg-color)
  );
  height: 100%;
  width: 10%;
  margin: 0 auto 0 0;
  position: absolute;
  z-index: 1;
  left: 0;
}

.fadeRight {
  background-image: linear-gradient(
    to right,
    var(--bg-color-op0),
    var(--bg-color)
  );
  height: 100%;
  width: 10%;
  margin: 0 0 0 auto;
  position: absolute;
  z-index: 1;
  right: 0;
}

/*#endregion reviewSection*/

/*#endregion detailSection*/

/*#region commonSection*/

.commonSection {
  position: relative;
  width: 25%;
}

.FixedCommonSection {
  padding: 0.5em 1em;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  border: 1px solid var(--darker-bg-color);
  background-color: var(--bg-color-op09);
  position: fixed;
  transition: all 0.3s ease;
  z-index: 3;
  width: 20vw;
  height: 62vh;
  top: 47%;
  transform: translate(0, -50%);
  right: 0;
  margin-right: 10vw;
}

.FixedCommonSection:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.3s ease;
}

.nameLine {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}
.nameLine h1 {
  margin: 0;
  white-space: normal;
  color: var(--font-color);
}
.nameLine h2 {
  margin: 0;
  font-size: 1em;
  color: var(--font-color);
}
.rateLine {
  display: flex;
  margin-bottom: 1em;
}

.numReviews {
  margin-left: 1em;
  align-self: center;
}
.priceLine {
  margin-bottom: 1em;
  margin-left: 1em;
}
.priceLine div {
  font-size: 1.5em;
  font-weight: 300;
  font-style: italic;
}
.shortDetailLine {
  color: var(--font-color-disabled);
  margin-bottom: 1em;
}
.optionsLine {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-bottom: 0.5em;
  overflow: auto;
}
.optionsLine::-webkit-scrollbar {
  width: 10px;
}

.optionsLine::-webkit-scrollbar-track {
  border-radius: 20px;
}

.optionsLine::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}
.optionsLine:hover::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.optionsLine:hover::-webkit-scrollbar-thumb {
  background-color: #555;
}

.optionContainer {
  display: flex;
  flex-direction: column;
}

.optionContainer .choiceName {
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 1em;
}

.optionContainer .choice {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5em;
}
.optionContainer .choice div {
  margin-left: 0.5em;
  padding: 0.1em 0.5em;
  border-radius: 20px;
  border: 1px solid var(--bg-color-invert);
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}
.optionContainer .choice div:hover,
input[type='radio'].radioProduct:checked + .radioName {
  background-color: var(--bg-color-invert);
  color: var(--font-color-invert);
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.radioProduct {
  display: none;
}
/*#region functionLine*/
.functionLine {
  margin: 0.5em;
  height: 2em;
  padding: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-top: var(--font-color-disabled) 1px solid;
  justify-content: center;
}
.plusMinusButton {
  height: 1.5em;
  border-radius: 20px;
  display: inline-flex;
  overflow: hidden;
  border: 1px solid var(--font-color-disabled);
  transition: box-shadow 0.3s ease;
  margin-right: 1em;
}
.plusMinusButton:hover {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease;
}

.plusMinusButton .minus {
  width: 1.5em;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.plusMinusButton .numAmount {
  width: 1.5em;

  border-left: 1px solid #999;
  border-right: 1px solid #999;
  position: relative;
}
.plusMinusButton .plus {
  width: 1.5em;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.plusMinusButton .minus:hover {
  background-color: var(--bg-color-invert);
  transition: background-color 0.3s ease;
}

.plusMinusButton .plus:hover {
  background-color: var(--bg-color-invert);
  transition: background-color 0.3s ease;
}

.plusMinusButton .minus div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
}
.plusMinusButton .numAmount div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
}
.plusMinusButton .plus div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
}

.plusMinusButton .minus:hover div {
  color: var(--font-color-invert);
}

.plusMinusButton .plus:hover div {
  color: var(--font-color-invert);
}

.addToCartButton {
  height: 2em;
  padding: 0 1em;
  margin-right: 1em;
  width: 4em;
  position: relative;
}
.addToCartButton:hover {
  cursor: pointer;
}
.atcContainer {
  position: absolute;
  height: 2em;
  width: 6em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--font-color);
  border-radius: 20px;
  transition: box-shadow 0.3s ease, background-color 0.3s ease, filter 0.3s ease,
    border 0.3s ease, height 0.2s ease, width 0.7s ease;
}

.atcContainer:hover {
  height: 3em;
  width: 7em;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7);
  background-color: var(--bg-color);
  border: 1px solid var(--bg-color);
  transition: box-shadow 0.3s ease, background-color 0.3s ease, filter 0.3s ease,
    border 0.3s ease, height 0.2s ease, width 0.7s ease;
}
.atcContainer img {
  width: 1.5em;
  user-select: none;
  transition: height 0.2s ease, width 0.7s ease;
  filter: var(--img-filter-invert);
}
.addToCartButton:hover .atcContainer img {
  height: 2em;
  width: 2em;
  filter: var(--img-filter-invert);
  transition: height 0.2s ease, width 0.7s ease;
}

.favoriteButton {
  position: relative;
  cursor: pointer;
  width: 1.5em;
  height: 1.5em;
}
.favoriteButton img {
  user-select: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1.5em;
  height: auto;
  transition: filter 0.3s ease, width 0.3s ease, height 0.3s ease;
  filter: var(--img-filter-invert);
}
.favoriteButton:hover img {
  width: 2em;
  height: auto;
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5)) var(--img-filter-invert);
  transition: filter 0.3s ease, width 0.3s ease, height 0.3s ease;
}

/*#endregion functionLine*/

/*#endregion commonSection*/
.thumPhotoContainers {
  position: relative;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
  padding: 0.5em 0 0 0;
}
.recommendationsLine {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.warningMessage {
  display: flex;
  justify-content: center;
  color: red;
}

.reviewThisProductButton {
  margin: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ReviewingContainerProductDetail {
  width: 40%;
  height: 50%;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1280px) {
  .ReviewingContainerProductDetail {
    width: 50%;
  }
  .contentContainer {
    width: 90vw;
  }
  .FixedCommonSection {
    margin-right: 0;
    padding-right: 0;
    padding-left: 2em;
    border-radius: 20px 0 0 20px;
    width: 28vw;
    top: 40%;
  }
  .thumPhotoBoxes {
    left: 8em;
  }
  .detailSection {
    width: 60%;
    flex: 1;
  }
  .commonSection {
    width: 35%;
  }
}
@media screen and (max-width: 768px) {
  .detailSection {
    width: 100vw;
    align-items: center;
    margin-bottom: 5em;
  }
  .ReviewingContainerProductDetail {
    width: 80%;
  }
  .optionContainerNotLetChoose {
    display: flex;
    flex-direction: row;
    margin: 0.5em 0;
    font-size: 14px;
  }
  .optionContainerNotLetChoose .choiceName {
    margin: 0 0.5em 0 0;
    min-width: 3em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .choiceNotLetChoose {
    display: flex;
    flex-direction: row;
    margin-bottom: unset;
  }
  .choiceNotLetChoose div {
    margin-left: 1em;
    padding: 0.25em 0.5em;
    border-radius: 20px;
    border: 1px solid var(--font-color);
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    margin-right: 0.5em;
  }
  .CommonSectionInDetail {
    width: 85vw;
    padding: 2em 7.5vw;
    border-bottom: 3px solid var(--bg-color);
    border-top: 2px solid var(--font-color-disabled);
    box-shadow: 0px -2px 3px rgba(0, 0, 0, 0.2);
    border-radius: 20px 20px 0 0;
  }
  .prodcutNameLine {
    display: flex;
    flex-direction: row;
  }
  .nameBox h1 {
    margin: 0;
    font-size: 1.5em;
    white-space: normal;
    flex: 1;
    display: flex;
    align-items: center;
  }
  .nameBox {
    flex: 1;
  }
  .nameBox div {
    color: var(--font-color-disabled);
  }
  .shortDetailsBox {
    color: var(--font-color-disabled);
    font-size: 12px;
  }
  .priceRatingLine {
    font-size: 16px;
    margin: 1em 0;
  }
  .optionsBox {
    font-size: 12px;
    margin: 1em 0;
  }
  .rateBox {
    margin: 1em 0;
    display: flex;
    flex-direction: row;
  }
  .numReviews {
    margin: 0;
    display: flex;
    justify-content: center;
    align-self: flex-end;
  }
  .priceBox {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
  }
  .price {
    font-size: 2em;
    font-weight: 300;
    font-style: italic;
  }
  .fadeLeft {
    width: 5%;
    opacity: 1;
    margin: 0;
  }
  .fadeRight {
    width: 5%;
    opacity: 1;
    margin: 0;
  }
  .reviewsSection {
    width: 100%;
    height: 100%;
    overflow-x: scroll;
  }
  .thumPhotoLine {
    height: 6em;
    margin: 0;
    padding: 1em 0;
  }
  .thumPhotoContainers {
    overflow-x: scroll;
  }
  .thumPhotoBoxes {
    left: 1em;
    height: 5em;
  }
  .thumPhotoBox {
    margin: 0 0.25em;
    height: 5em;
    width: 5em;
  }
  .contentContainer {
    width: 95vw;
  }
  .photoLineMobile {
    display: flex;
    justify-content: center;
  }
  .photoContainerMobile {
    width: 100vw;
  }
  .photoBoxesMobile {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 1fr;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  }
  .photoBoxMobile {
    position: relative;
    aspect-ratio: 4/3;
    width: 100vw;
    scroll-snap-align: center;
  }

  .photoBoxMobile img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .thumPhotoContainers::-webkit-scrollbar {
    display: none;
  }
  .rateBox .star {
    margin-right: 1em;
  }
  .favoriteButton img {
    width: 1.5em !important;
    filter: var(--img-filter-invert) !important;
  }
}

.Fixtab {
  position: fixed;
  width: 100vw;
  height: 5em;
  bottom: 0;
  left: 0;
  z-index: 300;
  margin-bottom: 0.5em;
  display: flex;
  justify-content: center;
}
.functionLineFixTab {
  z-index: 302;
  height: 2em;
  width: 75vw;
  padding: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: var(--font-color-disabled) 1px solid;
  border-radius: 20px;
  background-color: var(--bg-color);
  justify-content: space-between;
  margin: 0;
  font-size: 16px;
}
.functionLineFixTab .plusMinusButton {
  height: 2em;
}
.functionLineFixTab .plusMinusButton div {
  width: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.functionLineFixTab .addToCartButton {
  width: auto;
  flex: 1;
  margin: 0;
}
.functionLineFixTab .addToCartButton .atcContainer {
  width: 100%;
  height: 2em;
  border: 1px solid var(--font-color);
  background-color: var(--bg-color-invert);
}
.functionLineFixTab .addToCartButton {
  width: auto;
  flex: 1;
  margin: 0;
}
.functionLineFixTab .addToCartButton .atcContainer img {
  filter: var(--img-filter-invert-invert);
}
.functionLineFixTab .addToCartButton:hover img {
  width: 1.5em;
  height: 1.5em;
}
.functionLineFixTab .addToCartButton .atcContainer:hover {
  height: 2em;
  width: 100%;
  box-shadow: none;
  background-color: var(--bg-color-invert);
  transition: all 0.3s ease;
}
.functionLineFixTab .favoriteButton {
  margin-left: 1em;
}

.falsefavorite {
  opacity: 0.5;
}

.detailLineMobile {
  border-bottom: 1px var(--font-color-disabled) solid;
}
.detailHeadMobile {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.detailHeadMobile h1 {
  margin: 0;
  font-size: 1.25em;
  flex: 1;
}
.detailContainerMobile {
  display: flex;
  flex-direction: column;
}

.triangleContainer {
  width: 3em;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.triangleContainer.closed {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
}

.optionsFixtab {
  position: fixed;
  bottom: 3em;
  z-index: 301;
  width: 75vw;
  padding: 0.5em 1em 2em 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: var(--font-color-disabled) 1px solid;
  border-radius: 20px 20px 0 0;
  background-color: var(--bg-color);
  justify-content: space-between;
  margin: 0;
  font-size: 16px;
  transition: all 0.3s ease;
}
.optionsFixtab.hide {
  padding: 0.25em 1em 2em 1em;
  height: 1em !important;
  transition: all 0.3s ease;
}

.optionsFixtab.hide .triOptions {
  top: 0.25em;
}

.optionsFixtab .choiceName {
  margin: 0.25em 0;
}

.optionsFixtab.hide .triOptions {
  width: 90%;
  padding-top: 0;
  padding-bottom: 0;
}
.triOptions {
  padding: 0.5em;
  position: absolute;
  right: 1em;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.triOptions .triangleBox {
  --font-color-disabled: var(--font-color);
}

.optionContainers.hide {
  visibility: hidden;
  opacity: 0;
}
.triOptionsText {
  margin-right: 0.5em;
  font-size: 14px;
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
