/* #region cover card*/
.cardBox {
  position: relative;
  overflow: hidden;
}

.cardBox.cover {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: span 2;
  width: 100%;
  height: 100%;
}

.coverContainer {
  width: 100%;
  padding-top: 75%;
  position: relative;
}

.coverContainer img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
}
/* #endregion  cover card */

/* #region pageNavi*/
.pageNavi {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3em 0;
}

.pageNavi button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0.5em 0.5em;
  margin: 0 1em;
  font-size: 1em;
  color: var(--font-color);
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 20px;
}

.pageNavi button.active {
  color: var(--font-color-invert);
  background-color: var(--bg-color-invert);
  cursor: default;
}

.pageNavi button:disabled {
  color: var(--font-color-disabled);
  visibility: hidden;
  cursor: default;
}

.pageNavi button:disabled:hover {
  color: var(--font-color-disabled) !important;
  background-color: transparent !important;
  cursor: default !important;
}

.pageNavi button:disabled .triangle {
  border-left-color: var(--font-color-disabled) !important;
  border-right-color: var(--font-color-disabled) !important;
}

.pageNavi button:hover:not(.active) {
  color: var(--font-color-invert);
  background-color: var(--bg-color-invert);
}

.pageNavi button:hover:not(.active) .triangle {
  border-left-color: #fff;
  border-right-color: #fff;
}

.pageNavi button:first-child {
  background-color: transparent;
  margin-left: 0;
}

.pageNavi button:last-child {
  background-color: transparent;
  margin-right: 0;
}

.triangle {
  width: 0;
  height: 0;
}

.triangle.left {
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 10px solid var(--font-color);
}

.triangle.right {
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 10px solid var(--font-color);
}
/* #endregion */
.ProductsPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mainContent.productsPage {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.isDisabled {
  display: none;
}

@media screen and (max-width: 768px) {
  .mainContent.productsPage {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .pageNavi button {
    color: var(--font-color) !important;
    background-color: var(--bg-color) !important;
  }
  .triangle {
    border-left-color: var(--font-color) !important;
    border-right-color: var(--font-color) !important;
  }
  .pageNavi button.active {
    color: var(--font-color-invert) !important;
    background-color: var(--bg-color-invert) !important;
  }

  .cardBox.cover img {
    border-radius: 0;
  }
}
