/* #region cover card*/
.cardBox.cover {
  width: 66.66%;
  display: flex;
  align-content: center;
  justify-content: center;
}

.cardBox.cover div {
  margin: 1em 1.5em;
  padding: 1em 1.5em;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.cardBox.cover img {
  width: 100%;
  border-radius: 20px;
  object-fit: cover;
}
/* #endregion  cover card */

/* #region pageNavi*/
.pageNavi {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3em 0;
}

.pageNavi button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0.5em 0.5em;
  margin: 0 1em;
  font-size: 1em;
  color: #333;
  transition: color 0.3s;
  transition: background-color 0.3s;
  border-radius: 20px;
}

.pageNavi button.active {
  color: #fff;
  background-color: #333;
  cursor: default;
}

.pageNavi button:disabled {
  color: #999;
  visibility: hidden;
  cursor: default;
}

.pageNavi button:disabled:hover {
  color: #999 !important;
  background-color: transparent !important;
  cursor: default !important;
}

.pageNavi button:disabled .triangle {
  border-left-color: #999 !important;
  border-right-color: #999 !important;
}

.pageNavi button:hover:not(.active) {
  color: #fff;
  background-color: #333;
}

.pageNavi button:hover:not(.active) .triangle {
  border-left-color: #fff;
  border-right-color: #fff;
}

.pageNavi button:first-child {
  background-color: transparent;
  margin-left: 0;
}

.pageNavi button:last-child {
  background-color: transparent;
  margin-right: 0;
}

.triangle {
  width: 0;
  height: 0;
}

.triangle.left {
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 10px solid black;
}

.triangle.right {
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 10px solid black;
}
/* #endregion */
.ProductsPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mainContent.productsPage {
  width: 90%;
}
.isDisbled {
  display: none;
}

@media screen and (max-width: 768px) {
  .cardBox.cover {
    width: 100%;
  }
  .cardBox {
    width: 50%;
  }
  .mainContent.productsPage {
    width: 100%;
  }
  .pageNavi button {
    color: #000000 !important;
    background-color: #ffffff !important;
  }
  .triangle {
    border-left-color: #000 !important;
    border-right-color: #000 !important;
  }
  .cardBox.cover div {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }

  .cardBox.cover img {
    width: 100%;
    border-radius: 0;
    object-fit: cover;
  }
}
