.registerContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registerLine {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 1.5em;
}

.headRegisterColumn,
.inputRegisterColumn {
  width: 50%;
  display: flex;
}

.headRegisterColumn {
  padding-right: 1em;
  justify-content: flex-end;
}

.headRegisterColumn div {
  height: 100%;
  display: flex;
  align-items: center;
}

.inputRegisterColumn {
  padding-left: 1em;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.genderRadioRegister {
  display: flex;
  flex-direction: row;
  padding-left: 1em;
  justify-content: space-between;
  width: 50%;
}

label {
  display: flex;
  flex-direction: row;
}

.registerInput {
  height: 2em;
  width: 100%;
  border-radius: 20px;
  padding: 0.5em 1.5em;
  border: none;
  background-color: #f0f0f0;
  outline: none;
  transition: all 0.3s ease;
}

.registerInput:hover,
.registerInput:focus {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
  transform: scale(1.05);
}

.registerInput:focus-visible {
  outline: solid 1px #777;
  background-color: #fff;
}

.registerInput.isError {
  outline: solid 1px red;
}

.warningMessage-register {
  color: red;
  position: absolute;
  padding-left: 1em;
  top: 100%;
  font-size: 0.75em;
}

.pmiLine {
  height: 3em;
  display: flex;
  align-items: center;
}

.pmitoggle {
  font-style: underline;
  text-decoration: underline;
  cursor: pointer;
}
.pmiHiddineLine {
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: all 0.3s ease;
  opacity: 0;
  transform: translate(0, -10%);
}

.pmiHiddineLine.show {
  height: auto;
  opacity: 1;
  transform: translate(0, 0);
  transition: all 0.3s ease;
}

.register,
.reset {
  width: auto;
  margin: 0 1em;
}

.reset {
  background-color: #fff;
  border: #777 1px solid;
  color: black;
}

.register:hover,
.reset:hover {
  transform: none;
  font-weight: normal;
}

.height2 {
  height: 3em !important;
}

.address {
  height: 6em;
  transition: none;
}

.disbled-register {
  background-color: #d6d6d6 !important;
  color: #aaa !important;
  box-shadow: none !important;
  cursor: default !important;
}

.warningMessage-register.lastline {
  margin-top: 1em;
  top: 0;
  height: 1.25em;
  position: relative;
}

.buttonLineRegister {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 2em;
  margin-bottom: 1em;
}
