.userContainer {
  display: flex;
  flex-direction: row;
  min-height: 80vh;
  width: 100%;
}

.userNaviContainer {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding-right: 2em;
  background-color: var(--darker-bg-color-lit);
  border-radius: 20px;
}

.userNaviBox {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-content: flex-end;
  height: 60%;
  justify-content: space-around;
}
.userNaviBox div {
  padding: 0.5em 1.5em;
  border-radius: 20px;
  transition: all 0.3s ease;
  user-select: none;
}

.userNaviBox div:hover {
  padding: 0.5em 1.5em;
  background-color: var(--bg-color-invert);
  color: var(--font-color-invert);
  transform: scale(1.15);
  cursor: pointer;
}

.userCurrent {
  padding: 0.5em 1.5em;
  background-color: var(--bg-color-invert);
  color: var(--font-color-invert);
  transform: scale(1.15);
  cursor: pointer;
}

.userContentContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-left: 2em;
  transition: all 0.3s ease;
}
.userProfileBox {
  display: flex;
  flex-direction: column;
}

.userAccountBox {
  display: flex;
  flex-direction: column;
}

.uHeadLine {
  margin-top: 1em;
  margin-bottom: 0.5em;
  transition: all 0.3s ease;
  font-weight: 600;
}

.uWarningMessage {
  color: var(--warning-color-font);
  font-size: 0.75em;
  position: absolute;
  top: 2.75em;
  left: 0.25em;
}

.uinput {
  height: 2em;
  border-radius: 20px;
  padding: 0.5em 1.5em;
  margin: 0.5em 1em;
  background-color: var(--bg-color);
  border: 1px var(--font-color) solid;
  color: var(--font-color);
  outline: none;
  width: 70%;
  transition: all 0.3s ease;
}

.uinput.account {
  width: 40%;
}

.uPPersonalLine {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.uPNameBox,
.uPGenderBox,
.uPEmailBox,
.uPDoBBox,
.uPPhoneBox,
.uPAddressBox {
  width: 50%;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  position: relative;
}

.radioChoiceBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 2em;
  border-radius: 20px;
  margin: 0.5em 1em;
}

.radioChoice {
  display: none;
}

.customRadio:hover,
.customRadio:focus {
  box-shadow: none;
  cursor: pointer;
  transform: scale(1.2);
}

/* Hide the default radio input */

/* Create a custom radio appearance using a pseudo-element */
.customRadio {
  display: inline-block;
  position: relative;
  width: 1em;
  height: 1em;
  border: 2px solid var(--font-color); /* Border color for the unselected radio */
  border-radius: 50%;
  transition: all 0.3s ease;
  margin-right: 0.25em;
}

/* Add a dot in the center for the selected radio */
.customRadio::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  background-color: var(--font-color); /* Color of the selected radio dot */
  border-radius: 50%;
  display: none; /* Hide the dot by default */
}

/* Show the dot for the selected radio */
.radioChoice:checked + .customRadio::after {
  display: block;
}
.uinput::-webkit-calendar-picker-indicator {
  filter: var(--img-filter-invert);
}

.labelRadioChoiceBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 0.5em;
}

.uButton {
  height: 3em;
  border-radius: 20px;
  padding: 0.5em 1.5em;
  border: none;
  background-color: #111111;
  outline: none;
  transition: all 0.3s ease;
  color: white;
  font-weight: 500;
}

.uButton:hover {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
  transform: scale(1.05);
  background-color: #ffffff;
  color: #111111;
  cursor: pointer;
  font-weight: 900;
}

.uPPhotoLine {
  width: 100%;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  position: relative;
}

.uPphotoContainer {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  padding: 0 1em;
  margin: 0.5em 0;
}

.uPphotoBox {
  border-radius: 20px;
  height: 6em;
  width: 6em;
  overflow: hidden;
  margin-right: 1em;
  border: #999 1px solid;
}

.userPhoto {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.uButtonLine {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.uPAddressContainer {
  border: 1px var(--font-color) solid;
  overflow: hidden;
  border-radius: 20px;
  transition: all 0.3s ease;
}

.uPAddressContainer:focus-within,
.uinput:focus {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
}
.uinput.uaddress {
  margin-top: 0;
  margin-bottom: 0;
  border-radius: 0;
  border: none;
}

.uinput.uaddress:focus {
  box-shadow: none;
}

.cusid {
  color: var(--font-color-disabled);
  background-color: var(--darker-bg-color-lit);
  border: 1px solid var(--font-color-disabled);
}
.changingPasswordLine {
  height: auto;
  transition: all 0.3s ease;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.passLineBox {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
.passLineBox button {
  height: 3em;
}
.uAConfirmNewPasswordBox button {
  height: 3em;
}
.showPassChange {
  color: var(--font-color-invert);
  background-color: var(--bg-color-invert);
  border: 1px solid var(--bg-color-invert);
}

.uAChangingPasswordBox,
.uAConfirmNewPasswordBox {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.uAWarningMessage {
  color: red;
  font-size: 1em;
}

.uHeadLine.onClick {
  text-decoration: underline;
  cursor: pointer;
}

.uHeadLine.onClick:hover {
  color: red;
}

.inputUploadPhoto {
  display: none;
}

.uploadButton {
  font-weight: 400;
  border-radius: 50%;
  min-height: 2em;
  min-width: 2em;
  max-height: 2em;
  max-width: 2em;
  padding: 0;
  transform: none;
  font-family: 'Prompt', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease;
  background-color: var(--bg-color);
  color: var(--font-color);
  border: 1px solid var(--font-color);
}

.uploadButton div {
  position: absolute;
  min-height: 3em;
  min-width: 3em;
  max-height: 3em;
  max-width: 3em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  font-size: 3em;
}
.uploadButton:hover {
  background-color: var(--bg-color-invert);
  color: var(--font-color-invert);
  border: 1px solid var(--font-color-disabled);
  cursor: pointer;
}

.file-name {
  margin-left: 10px;
  font-size: 14px;
  color: #666;
}

.userReviewBox {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: auto;
}

.currentUserReviewContainer {
  width: 100%;
  flex: 1;
}
.ReviewingContainer {
  height: 100%;
  display: flex;
  justify-content: center;
}

.listUserReviewContainer {
  height: 50%;
  width: 100%;
  overflow: auto;
  position: relative;
}

.listUserReviewBox {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: auto;
  align-content: start;
  position: absolute;
}

.reviewCardBox {
  display: flex;
  border: 1px solid #ccc;
  padding: 0.5em;
  margin: 0.25em 0.5em;
  border-radius: 20px;
  overflow: hidden;
  width: 90%;
  height: 3em;
  position: relative;
}

.reviewCardBox.isFocus {
  opacity: 0;
  transform: translate(0, -10%);
}

.reviewCardBox.isFocus .reviewProductButton {
  visibility: hidden;
}

.productPhotoCol {
  min-width: 3em;
  min-height: 3em;
  max-width: 3em;
  max-height: 3em;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

.productPhotoCol img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

.nameRatingCol {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 1em;
}

.productNameLine {
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  width: 70%;
  text-overflow: ellipsis;
}

.ratingLine {
  margin-top: 5px;
}

.reviewProductButton {
  color: var(--warning-color-font);
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

.reviewCardBox:hover {
  cursor: pointer;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.8);
}

.reviewCardBox:hover .reviewProductButton {
  top: 50%;
  left: 50%;
}
.reviewCardBox:hover .backDropClickReview {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  padding: 2em 8em;
  background-color: var(--bg-color-invert);
  opacity: 0.8;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.ratingLine {
  display: flex;
  flex-direction: row;
  height: 1em;
  width: 1em;
}

.ratingLine img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: var(--img-filter-invert);
}
.filterUserReview {
  height: 10%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  margin: auto 0;
  position: relative;
}

.filterNavi {
  padding: 0.25em 0.5em;
  border-radius: 20px;
  user-select: none;
  cursor: pointer;
  white-space: nowrap;
  position: relative;
  height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filterNavi.isActive {
  cursor: default;
}

.circleSelect {
  position: absolute;
  height: 2.25em;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid var(--font-color);
  border-radius: 20px;
  transition: all 0.3s ease;
}

.circleSelect.showNoReview {
  left: 25%;
  width: 8.5em;
}

.circleSelect.showOnlyReview {
  left: 75%;
  width: 8.5em;
}

@media screen and (max-width: 1280px) {
  .userNaviContainer {
    width: 20%;
    padding-right: 1em;
  }
}

/* #region moblie zone --------------------------------------------------------------  */
@media screen and (max-width: 768px) {
  .uPPersonalLine {
    flex-direction: column;
    width: 100%;
  }
  .userProfileBox {
    width: 75%;
  }
  .uPNameBox,
  .uPGenderBox,
  .uPEmailBox,
  .uPDoBBox,
  .uPPhoneBox,
  .uPAddressBox {
    width: 100%;
  }
  .uinput {
    width: auto;
  }
  .listUserReviewBox {
    grid-template-columns: 1fr;
    padding-left: 1em;
  }
  .filterUserReview {
    margin: 1em 0;
  }
  .listUserReviewContainer {
    height: auto;
    flex: 1;
  }
  .reviewCardBox:hover {
    cursor: default;
    box-shadow: unset;
  }
  .reviewCardBox:hover .backDropClickReview {
    display: none;
  }
  .reviewCardBox:hover .reviewProductButton {
    top: 70%;
    left: 50%;
  }
  .ReviewingContainerUser {
    width: 90%;
    height: 50%;
    display: flex;
  }
}

.userPageMobile {
  width: 100%;
  min-height: 75vh;
  display: flex;
  position: relative;
}

.userContainerMobile {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.userNaviBoxMobile {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.userNaviBoxMobile > .userNaviMobile:nth-child(2) {
  background-color: var(--darker-bg-color-lit);
}

.userNaviMobile {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25em;
}
.backUserButton {
  align-self: flex-start;
  margin-left: 2em;
  position: fixed;
  height: 2.5em;
  z-index: 100;
  background-color: var(--bg-color-invert);
  color: var(--font-color-invert);
}
.userHeadMobile {
  height: 2.5em;
  font-weight: 600;
  display: flex;
  align-items: center;
  align-self: flex-start;
  margin-left: 9em;
  margin-bottom: 1em;
}
.line {
  height: 0;
  border-top: 1px solid var(--font-color);
  width: 100vw;
}
.userMobileIcon {
  margin-right: 1em;
}
/* #endregion */
