.leftCorner {
  position: absolute;
  z-index: 4;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 100%;
  width: 10%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  opacity: 0.1;
  transition: opacity 0.3s ease;
}

.rightCorner {
  position: absolute;
  z-index: 4;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  height: 100%;
  width: 10%;
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  opacity: 0.1;
  transition: opacity 0.3s ease;
}

.arrow-left {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 0;
  margin-left: 1em;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 3em solid transparent;
  border-bottom: 3em solid transparent;
  border-right: 3em solid rgba(255, 255, 255, 0.3);
}

.arrow-right {
  position: absolute;
  z-index: 3;
  top: 50%;
  right: 0;
  margin-right: 1em;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 3em solid transparent;
  border-bottom: 3em solid transparent;
  border-left: 3em solid rgba(255, 255, 255, 0.3);
}

.leftCorner:hover {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.rightCorner:hover {
  opacity: 1;
  transition: opacity 0.3s ease;
}
