.PositionRelativeForBackDrop {
  position: relative;
}

.BackdropContainer {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  left: 0;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.BackdropBox {
  height: 100%;
  width: 100%;
  z-index: 1001;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.BackdropCancelBox {
  background-color: rgb(0, 0, 0, 0.7);
  min-width: 100%;
  min-height: 100%;
  left: 0;
  top: 0;
  display: flex;
  z-index: 1000;
  cursor: pointer;
  position: absolute;
  z-index: -1;
}
