.star {
  --image-height: 1.5em;
  --padding-right: 0.25em;
  position: relative;
  height: var(--image-height);
  width: calc(5 * var(--image-height) + 4 * var(--padding-right));
  transition: all 0.3s ease;
}

.star img {
  height: var(--image-height);
  width: auto;
  padding-right: var(--padding-right);
  filter: var(--img-filter-invert);
}
.star img:last-child {
  padding-right: 0;
}

.star .nowRating img {
  z-index: 5;
}
.star .emptyRating img {
  z-index: 4;
  opacity: 0.5;
}
.nowRating {
  position: absolute;
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.emptyRating {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.letChange img {
  cursor: pointer;
}
