.star {
  --image-height: 1.5em;
  position: relative;
  height: var(--image-height);
  width: calc(
    5 * var(--image-height)
  ); /* Set width to 5 times the height of the image */
  transition: all 0.3s ease;
}

.star img {
  height: var(--image-height);
  width: auto;
}

.star .nowRating img {
  z-index: 5;
}
.star .emptyRating img {
  z-index: 4;
  opacity: 0.5;
}
.nowRating {
  position: absolute;
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.emptyRating {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.letChange img {
  cursor: pointer;
}
