@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
  width: 100%;
  height: 100%;
  overflow: auto;
  scroll-behavior: smooth;
  background-color: var(--bg-color);
  color: var(--font-color);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  visibility: hidden;
}

body {
  margin: 0 auto;
  font-family: 'Prompt', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  width: 60%;
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  white-space: nowrap;
}

a {
  color: black;
  text-decoration: none;
}

@media screen and (max-width: 1280px) {
  body {
    width: 90%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  body {
    width: 100%;
    margin: 0;
    font-size: 16px;
  }
  ::-webkit-scrollbar {
    visibility: hidden;
  }
  ::-webkit-scrollbar-thumb {
    visibility: hidden;
  }
}

@media screen and (max-width: 384px) {
  body {
    width: 100%;
    margin: 0;
    font-size: 12px;
  }
}

@media screen and (max-width: 170px) {
  body {
    display: none;
  }
}
